# Goodreads - Web scraper

In [1]:
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

/var/folders/lr/8c5hs04n5c16pwk_y0fr6fvr0000gn/T/ipykernel_47910/3130332880.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [17]:
df = pd.read_csv('goodreads_data.csv')
df.head()

,Title,Author,Average Rating,Rating,Year Published
0,Self-Help,Lorrie Moore,4.14,"3,786",1985
1,What's Our Problem?: A Self-Help Book for Soci...,Tim Urban,4.28,"3,397",2023
2,Parenting from the Inside Out: How a Deeper Se...,Daniel J. Siegel,4.16,"4,799",2003
3,How to Be Fine: What We Learned from Living by...,Jolenta Greenberg,3.54,"4,414",2020
4,Get Out of Your Mind and Into Your Life: The N...,Steven C. Hayes,4.06,"3,056",2005

In [18]:
df.describe()

       Average Rating  Year Published
count      6230.00000     6230.000000
mean          3.65600     1094.604334
std           0.84137     1006.146521
min           0.00000        0.000000
25%           3.40000        0.000000
50%           3.80000     1994.000000
75%           4.17000     2013.000000
max           5.00000     7303.000000

In [23]:

df = df.rename(columns={"Title": "title", "Author":"author","Average Rating": "avg_rating", "Rating":"rating", "Year Published":"year", })

In [24]:
df.isnull().sum()

title         0
author        0
avg_rating    0
rating        0
year          0
dtype: int64

In [27]:
df['num_of_occ'] = df.groupby('title')['title'].transform('count')

In [29]:
df['rate_occ'] = df['avg_rating'] * df['num_of_occ']

In [30]:
df

,title,author,avg_rating,rating,year,num_of_occ,rate_occ
0,Self-Help,Lorrie Moore,4.14,"3,786",1985,6,24.84
1,What's Our Problem?: A Self-Help Book for Soci...,Tim Urban,4.28,"3,397",2023,2,8.56
2,Parenting from the Inside Out: How a Deeper Se...,Daniel J. Siegel,4.16,"4,799",2003,2,8.32
3,How to Be Fine: What We Learned from Living by...,Jolenta Greenberg,3.54,"4,414",2020,2,7.08
4,Get Out of Your Mind and Into Your Life: The N...,Steven C. Hayes,4.06,"3,056",2005,2,8.12
...,...,...,...,...,...,...,...
6225,Better!: Self Help For The Rest of Us,Terry Lancaster,4.50,16,0,144,648.00
6226,"Self Esteem: You Don't Need a Workbook, You Ne...",Michelle Kade,4.78,9,0,139,664.42
6227,DirtBirds' Self-Help Guide: How to Have Confid...,Sue Collins,3.52,21,0,48,168.96
6228,Overcoming Social Anxiety and Shyness Self-hel...,Gillian Butler,4.17,6,2007,24,100.08
6229,Dealing With Depression: How To Rise From A Pr...,Melissa Madison,3.50,6,2013,164,574.00